.btn {
    padding: 8px 23px !important;
    background: #0030CC !important;
    border-radius: 40px !important;
    font-size: 14px !important;
}
.pt_6 {
    padding-top: 4rem!important;
}
.activate{
    background: #EBEEFB!important;
    border-radius: 40px!important;
    color: #0030CC!important;
    font-size: 14px;
    border: 1px solid #ebeefb!important;
    padding: 6px 17px!important;
}

.save{
background: #0030CC!important;
border-radius: 40px!important;
font-size: 14px;
color:#fff!important;
padding: 6px 17px!important;
}

.ht_60{
    height: 50px;
    background: #F0F0F0;
    font-weight: 500;
}
.w_70{
    width: 73%!important;
    height: 39px;
}
.f_500{
    font-weight: 500;
}
//pdf css
.headbg{
background-color: #11a99a;
color: #fff;
padding: 13px 16px 13px 25px;
}
.img1{
    padding-left: 21px;
    width: 96%;
    height: 96%;
    padding-right: 15px;
}
.bg1 {
    background: #f0f0f0;
}

.pad1 {
    padding: 20px 20px 20px 20px;
}
.bdr1{
    border: 1px solid #898989;
border-radius: 2px;
margin-left: 28px;
margin-right: 25px;
}
.pl_18 {
    padding-left: 30px;
    margin-top: 5px;
}
.bdr2{
    border: 1px solid #D9D9D9;
}
.tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
  }
  .border_spacing {
    border-spacing: 0px;
  }
  .headingfont {
    text-align: left;
    color: #212121!important;
    font-weight: 500!important;
  }
  .p_7 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .border_none{
    border: none !important;
  }
  .bg2 {
    background: rgba(17, 169, 154, 0.05);
  }
  .imgwdth1 {
    width: 63px;
    height: 70px;
}
.bdr3 {
    border-top: 6px solid #0b889d;
}
.siteclr3 {
    color: #0b889d;
}
.siteclr4{
color: #212121;
font-weight: 600;
}