.font {
    font-family: Gotham !important;
}

.h44 {
    height: 44px;
}

.bgicon1 {
    background: rgba(0, 48, 204, 0.1);
    border-radius: 11px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-right: 9px;
}

.bgicon2 {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 11px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.bgicon3 {
    background: rgba(64, 29, 29, 0.029);
    border-radius: 50%;
}
.bgicon4{
background: #f9e6ed;
border-radius: 11px;

}
.bgicon5{
    background: #e6ebfa;
    border-radius: 11px;
}
.bgicon6{
    background: #fff8e8;
    border-radius: 11px;
}
.bgicon7{
    background: #e9e9e9;
    border-radius: 11px;
}
.bgicon8{
    background: #f4f4f4;
    border-radius: 11px;
}
.bgicon9{
    background: #eaf5f2;
    border-radius: 11px;
}
.bgicon10{
    background: #e6f9fa;
    border-radius: 11px;
}
.bgicon11{
    background: #f0f8f1;
    border-radius: 11px;
}
.bgicon12{
    background: #f5edff;
    border-radius: 11px;
}

.w6 {
    width: 6%;
}

.card1 {
    background: #C91E1E;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}
.card2{
    background: rgba(54, 191, 76, 1);
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}
.card3{
    background: #FFFFFF;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    border: none;
}
.iconclr{
    color: #C00045;
}
.iconclr1{
    color: #0030CC;
}
.iconclr2{
    color: #FFB118;;
}
.iconclr3{
    color: #FFB118;
}
.iconclr4{
    color:#00C0CC;
}
.iconclr5{
    color: #62B970;
}
.iconclr6{
    color: #62B970;
}
.font{
    font-family: Gotham;
}