.bg1{
background: #edeef3;
border-radius: 8px 8px 0px 0px;
}

.bg2{
    background: #f7f8fd;

}
.active{
    background: #0030CC;
    border-radius: 8px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}