.siteclr{
color: #31343d;
font-weight: 600;
font-size: 17px;
}
.bg4{
    background-color: #fff;
    padding: 2px;
}
.siteclr1{
    color: #848484;
    font-size: 13px;
    }
    .bg1{
        background-color: #232476!important;
        border-top-left-radius: 25px!important;
        border-top-right-radius: 25px!important;
    }
    .bg2{
        background-color: #232476 !important;
        border-bottom-left-radius: 25px!important;
        border-bottom-right-radius: 25px!important;
    }
    .br30{
        border-radius: 30px!important;
    }
    .w_1001 {
        width: 80% !important;
    }
    .h_1001{
        height: 90%!important;
    }

    @media (max-width:600px) {
    .siteclr{
        color: #31343d;
        font-weight: 600;
        font-size: 14px;
    }
    .w_1001 {
        width: 100% !important;
    }
    .h_1001{
        height: 100%!important;
    }
    .siteclr1 {
        color: #848484;
        font-size: 11px;
    }
}