.border_radius13 {
    border-radius: 13px 13px 0px 0px;
    background-color: #F8F8F8;
}

.border_radius15 {
    border-radius: 13px 13px 0px 0px;
    background-color: #F8F8F8;
    width: 20% !important;
}

.bgbilling {
    background: #ebeffb;
    border-radius: 0px 0px 16px 16px;
}

.treatment1 {
    background-color: #62B970;
    border: 1px solid#62B970;
    border-radius: 30px;
    color: #fff;
    padding: 3px 8px 0px 8px;
    font-size: 10px;
    margin-top: 2px;
    margin-right: 5px;
}

.treatment2 {
    background-color: #FFB118;
    border: 1px solid#FFB118;
    border-radius: 30px;
    color: #fff;
    padding: 3px 7px 2px 7px;
    font-size: 10px;
    margin-top: 2px;
    margin-right: 5px;
}

.treatment3 {
    background-color: #ebeffb;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 30px;
    padding: 3px 7px 0px 6px;
    font-size: 10px;
    margin-top: 2px;
    margin-right: 5px;
}

.taxesbg {
    background: #ececec;
    width: fit-content;
    padding: 5px 11px 5px 13px;
    border-radius: 30px;
    font-size: 12px;
    margin: auto;
}

.border_theme {
    border: 1px solid #D9D9D9;
    border-radius: 9px;
    min-height: 55vh;
}

.border_theme1 {
    border: 2px dotted #D9D9D9;
    border-style: dotted;
    border-radius: 9px;
    min-height: 55vh;
    text-align: center;
}

.bg4 {
    background: #ebeffb;
}

.tableborder {
    border: 1px solid #dee2e6;
}