@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham/GothamBook.ttf');
}

$theme1: #003CFF;
$theme2: #0030CC;
$theme3: #EBEEFB;
$theme4: #0027A6;
$theme5: #898989;
$theme6: #909090;
$white: #ffffff;
$border-radius: 12px;

$font-family: 'Poppins', sans-serif !important;
$font-family1: 'Gotham', sans-serif !important;

@mixin fonts ($fontWeight, $fontSize, $lineHeight) {
    font-family: $font-family;
    font-size: $fontSize !important;
    font-weight: $fontWeight !important;
    line-height: $lineHeight;
}