.patientbtn {
    padding: 5px 20px;
    gap: 5px;
    font-size: 15px;
    background: #EBEEFB;
    color: #0030cc;
    border: 0px solid;
    border-radius: 40px;
}

.bookbtn {
    padding: 5px 20px;
    gap: 5px;
    font-size: 15px;
    background: #0030CC;
    border-radius: 40px;
}

.bg1 {
    background: #fff8e8;
    border-radius: 8px;
}

.iconclr {
    color: rgba(255, 177, 24, 1);
}