.footer1 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.footericnclr {
    color: rgba(240, 67, 67, 1);

}

.footer2 {
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
}

.footerfontclr {
    color: rgba(0, 48, 204, 1);
    text-decoration: underline;

}